.Zigfrid-Regular {
	font-family: Zigfrid-Regular;
	font-weight: normal;
	font-style: normal;
}
.Zigfrid-Medium {
	font-family: Zigfrid-Medium;
	font-weight: normal;
	font-style: normal;
}
.Zigfrid-Light {
	font-family: Zigfrid-Light;
	font-weight: normal;
	font-style: normal;
}
