$modular-scale-ratio: $major-third;
$base-font-size: 1.5em;
$base-line-height: $base-font-size * 1.15;
$base-spacing: $base-line-height * 1.25;
$small-spacing: $base-line-height * 0.75;

$custom-grid-large: (
  columns: 12,
  gutter: 32px,
  media: 1189px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

.grid-container {
	@media (min-width: 1200px) {
    @include grid-container($custom-grid-large);
    max-width: 1500px;
    margin: 0 auto;
	}
}

h1, h3,
p {
  font-family: "Zigfrid-Regular", $helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: modular-scale(4);
}

h3 {
  font-size: modular-scale(3);
}

p,
button,
li {
  font-size: $base-font-size;
  font-family: "Zigfrid-Light", $helvetica, sans-serif;
  font-weight: normal;
}

p {
  margin: 0 0 $small-spacing/2;
}

h1 {
  margin: $small-spacing 0 $small-spacing/4;
}

h3 {
  margin: $small-spacing /2 0 $small-spacing /4;
}

li {
  margin-top: $small-spacing /8;
}
