body {
  background-color: $secondary-color;
}

.intro-container,
.summary-container,
.instruction-container,
.session-container,
.information-container {
  @include grid-column(10);
  @include grid-shift(1);
}

.intro-container > div,
.summary-container > div {
  @include grid-collapse;
}

h1, h3 {
  color: $primary-color;
}

p, li {
  color: $tertiary-color;
}

#{$all-buttons} {
  background-color: $primary-color;
  border: 5px solid $primary-color;
  color: $secondary-color;
  font-family: $base-font-family, $helvetica, sans-serif;
  font-weight: normal;
  line-height: $base-line-height;
  padding: $small-spacing $base-spacing;
  transition: background-color $base-duration $base-timing;

  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}
