.background {
  background-image: url(../images/pattern.svg);
  background-size: cover;
  height: 205px;
  position: absolute;
  top: 0;
  width: 100%;
}

.step-container {
  display: flex;
  justify-content: space-between;
}

.step-wrapper {
  max-width: 375px;
  margin-left: 20px;
}

.fa-arrow-right {
  font-size: modular-scale(-1);
  color: $primary-color;
}

.intro-container {
  p {
    margin-bottom: 0;
  }
}

.button-item {
  .fa-arrow-right {
    color: $secondary-color;
  }
}

.information-container {
  margin-bottom: $base-line-height;
}
