---
title: Welcome on crossroads
---
<div class="grid-container">

  <div class="intro-container">
    <h1> Bienvenu sur crossroads !</h1>
    <p>crossroads est une installation ayant pour but d'expliciter les logiques et la structure du système hypertexte sur lequel repose la plateforme Wikipédia. Elle est basée sur la pratique des wikichallenges.</p>
    <button>Commencer l'expérience</button>
  </div>

  <div class="summary-container">
    <h1>Principe</h1>
    <div class="step-container">
      <div class="step-wrapper">
        <%= image_tag 'choose.png' %>
        <h3>Choisir</h3>
        <p>Décidez quel itinéraire vous souhaitez effectuer.</p>
      </div>
      <div class="step-wrapper">
        <%= image_tag 'play.png' %>
        <h3>Jouer</h3>
        <p>Effectuez l'itinéraire que vous avez choisi.</p>
      </div>
      <div class="step-wrapper">
        <%= image_tag 'organize.png' %>
        <h3>Classer</h3>
        <p>Collectez votre parcours et affichez-le selon l'ordre établi ou conservez-le.</p>
      </div>
    </div>
  </div>

  <div class="instruction-container">
    <h1>Wikichallenge ?</h1>
    <p>Une fois que vous avez choisi votre itinéraire, vous allez être redirigé sur Wikipédia. Votre objectif est d'aller au point d'arrivé en passant uniquement par les liens inclus dans le corps de l'article. Tenter d'effectuer le moins de clic, mais ne vous inquiétez pas : tous les chemins mènent à Rome.</p>
    <div class="rules">
      <h3>Interdiction de :</h3>
      <ul>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> sortir de Wikipédia.</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> utiliser la commande CTRL+F et la barre de recherche.</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> cliquez sur les liens présents dans les sections "Notes et Références" et "Voir aussi".</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> cliquez sur les liens présents dans le menu contextuel à gauche de la page.</li>
      </ul>
    </div>
  </div>

  <div class="session-container">
    <h1>Itinéraires</h1>
    <table class="tables">
      <thead>
        <tr>
          <th>Point de départ</th>
          <th>Point d'arrivée</th>
          <th>Difficulté</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cacaoyer</td>
          <td>Unterseeboot</td>
          <td>Facile</td>
          <td><button>C'est parti !</button></td>
        </tr>
        <tr>
          <td>Pentagramme</td>
          <td>Shinkansen</td>
          <td>Facile</td>
          <td><button>C'est parti !</button></td>
        </tr>
        <tr>
          <td>Effet Doppler</td>
          <td>Babylone</td>
          <td>Facile</td>
          <td><button>C'est parti !</button></td>
        </tr>
        <tr>
          <td>Superbowl</td>
          <td>Giacomo Casanova</td>
          <td>Moyen</td>
          <td><button>C'est parti !</button></td>
        </tr>
        <tr>
          <td>Vésuve</td>
          <td>Deep Blue</td>
          <td>Moyen</td>
          <td><button>C'est parti !</button></td>
        </tr>
        <tr>
          <td>Dopamine</td>
          <td>Économie circulaire</td>
          <td>Moyen</td>
          <td><button>C'est parti !</button></td>
        </tr>
        <tr>
          <td>Pandore</td>
          <td>Post-it</td>
          <td>Difficile</td>
          <td><button>C'est parti !</button></td>
        </tr>
        <tr>
          <td>Paresseux</td>
          <td>Brucelles</td>
          <td>Difficile</td>
          <td><button>C'est parti !</button></td>
        </tr>
        <tr>
          <td>Narcos</td>
          <td>Tay</td>
          <td>Difficile</td>
          <td><button>C'est parti !</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


  <!-- <div class="information-container">
    <h1>Finalité</h1>
    <div class="information-wrapper">
      <p>Ce projet de pratique est réalisé dans le cadre de mon master en media design. En continuité avec mon mémoire, il vise à généraliser la récolte de données effectuée sur des parcours précis sur Wikipédia. Lors de l'écriture de mon mémoire, l'utilisation des wikichallenges comme cadre de démarche m'avait permis de comprendre des logiques structurelles propres à Wikipédia. Mais je n'avais pu récolter des données qu'auprès de 11 personnes. En proposant cette expérience, j'ai l'opportunité de récolter bien plus de données auprès d'un pannel de gens plus large, ce qui me permettra à terme de confirmer ou d'infirmer les hypothèses que j'ai présentées dans mon mémoire.</p>
    </div>
  </div> -->


</div>
